# Create an application to obtain credentials at
# https://developer.paypal.com/dashboard/applications/sandbox

PAYPAL_CLIENT_ID=AfyoksjB7OirQOxFV-qb-nVDDWytTup03O9Gs7RYBF6mrf7EQ0r_el_bSxjsiz2f5ttTHyhvO-aY_4EX
PAYPAL_CLIENT_SECRET=ELf4ucOgSYgywyxDRalb6gbKZ0r_S5ENUjOUkxd4mLqSpWDuvKo6Vm1vcqzWXLXcgKHxnk9AvfJrXxgw

